[submodule "MobileGlues"]
	path = MobileGlues
	url = https://github.com/Shiraishi-Arata/MobileGlues
	branch = main
[submodule "MioLibPatcher"]
	path = MioLibPatcher
	url = https://github.com/Shiraishi-Arata/MioLibPatcher.git
